.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.bg-light
{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 15px;
    line-height: 1em;
}

input{
    width: 50%;
    display: block;
    margin: 15px auto;
}

.container {
    margin: 50px auto
}

fieldset {
    display: none
}

fieldset.show {
    display: block
}

select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%
}

.blue
{
    color: #2196F3;
}
.table_header
{
 text-align: center;
    vertical-align: middle;
    color: #646979;
}
.input
{
    border: #a0a4a5;
    border-radius: 4px;
}
.table td {
    text-align: center;
}
