<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Cryptocurrency Wallet</title>
</head>

<body>

<div id="main-content" class="container">
<h3 class="bg-info text-center">This is CRYPTOCURRENCY WALLET DEMO project only for portfolio</h3>
    <div class="row">
        <div class="col-md-4" th:each="currency : ${currencys}">
            <p th:text="${currency.description}" class="bg-primary text-center"></p>
            <table class="table">

            </table>
        </div>
    </div>
</div>

</body>
</html>
