<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page User View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="modal.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!--    NAVBAR      -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/accountDetails'}">Account details</a>
            </li>
            <!--            <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>-->
            <!--            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>-->
        </ul>
        <!--            <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{'/usersRanking'}">Users ranking</a>
                        </li>
                        <li class="nav-item active"><a class="nav-link"  th:text="'Balance: ' + ${#numbers.formatDecimal(loggedUserBalance, 1, 'WHITESPACE',2, 'COMMA')} + ' PLN'">Balance: [nominal]</a></li>
                        <li class="nav-item active"><a class="nav-link"  th:text="'Blocked: ' + ${#numbers.formatDecimal(loggedUserBlockedAmount, 1, 'WHITESPACE', 2, 'COMMA')} + ' PLN'">Blocked: [nominal]</a></li>
                        <li class="nav-item active"><a class="nav-link"  th:text="'Hello ' + ${loggedUser}+'!'">Welcome: [username]</a></li>

                               class="btn btn-outline-light my-2 my-sm-0"
                    </ul>-->
        <div class="col ">
            <button type="button" data-toggle="modal" data-target="#myModal"
                    class="btn btn-outline-light py-2 px-4" onclick="showCurrentDetails()">
                Trade
            </button>
        </div>
        <form class="form-inline">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" th:text="'Hello ' + ${user.getFirstName()}+'!'">Welcome:
                    [getFirstName]</a></li>
            </ul>
            <a th:href="@{'/logout'}" class="btn btn-outline-light my-2 my-sm-0">Log out</a>
        </form>
    </div>
</nav>


<!--src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg"-->
<!--        CURRENCY VALUE      -->
<!--<div id="main-content" class="container" th:attr="data-decisionTime=${decisionTime}">-->
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped text-center">
                <h1 class="text-center">Top 10 CryptoCurrencies By Market Capitalization</h1>
                <thead>
                <tr>
                    <th scope="col">Rank</th>

                    <th scope="col" width="1%"></th>

                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">Volume (24h)</th>
                    <th scope="col">Circulating Supply</th>
                </tr>
                </thead>
                <tbody id="quotationRow">

                <tr th:each="rate : ${cryptoCoinDetails}" class="active">
                    <td th:text="${rate.rank}">"</td>
                    <td>
                        <img alt="coin graphic"
                             th:src="@{${rate.logoUrl}}"

                             class="rounded-circle" width="32px" height="32px"/>
                    </td>
                    <td th:text="${rate.name}"></td>
                    <td>$<span th:text="${#numbers.formatDecimal(rate.price, 0, 'COMMA', 4, 'POINT')}">10.00</span></td>
                    <td><span th:text="${#numbers.formatDecimal(rate.marketCap, 0, 'COMMA', 2, 'POINT')}">10.00</span></td>
                    <td><span th:text="${#numbers.formatDecimal(rate._1d.volume, 0, 'COMMA', 2, 'POINT')}">10.00</span>
                    </td>
                    <td><span
                            th:text="${#numbers.formatDecimal(rate.circulatingSupply, 0, 'COMMA', 2, 'POINT')}">10.00</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--        MODAL POPUP FOR BUY/SELL        -->
<!--<div class="bg-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"-->
<!--aria-hidden="true">-->
<!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">BUY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form action="">
                        <input type="text" placeholder="coin">
                        <input type="text" placeholder="amount">
                        <a href="#" class="button-modal">BUY</a>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>-->
<!--        MODAL POPUP FOR BUY/SELL        -->
<!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="tabs" id="tab01">
                    <h6 class="text-muted">BUY</h6>
                </div>
                <div class="tabs active" id="tab02">
                    <h6 class="font-weight-bold">SELL</h6>
                </div>
                &lt;!&ndash;                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>&ndash;&gt;
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form action="post">
                    <input type="text" placeholder="coin">
                    <input type="text" placeholder="amount">
                    <a href="#" class="btn btn-secondary mx-auto">BUY</a>
                </form>
            </div>
        </div>
    </div>
</div>-->

<!--<div class="container">
    <div class='multitab-section'>
        <ul class='multitab-widget multitab-widget-content-tabs-id'>
            <li class='multitab-tab'><a href='#multicolumn-widget-id1'>Popular</a></li>
            <li class='multitab-tab'><a href='#multicolumn-widget-id2'>Tags</a></li>
            <li class='multitab-tab'><a href='#multicolumn-widget-id3'>Archive</a></li>
        </ul>
        <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id1'>
      <span class='sidebar' id='sidebartab1' preferred='yes'>
        <p>Isi konten widget tab 1
            </br>
            </br>
            Bisa sobat isi dengan widget apa saja, misal widget popular post, label, arsip, dll.</br>
      </span>
        </div>
        <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id2'>
      <span class='sidebar' id='sidebartab2' preferred='yes'>
        <p>Isi konten widget tab 2
            </br>
            </br>
            Bisa sobat isi dengan widget apa saja, misal widget popular post, label, arsip, dll.</br>
      </span>
        </div>
        <div class='-content multitab-widget-content-widget-id' id='multicolumn-widget-id3'>
      <span class='sidebar' id='sidebartab3' preferred='yes'>
        <p>Isi konten widget tab 3
            </br>
            </br>
            Bisa sobat isi dengan widget apa saja, misal widget popular post, label, arsip, dll.</br>
      </span>
        </div>
    </div>
    pb-5 px-3   <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< form-inline justify-content-center
</div>-->


<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     class="modal fade text-left">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="row">
                    <div class="tabs" id="tab01" onclick="showCurrentDetails()">
                        <h6 class="text-muted">BUY</h6>
                    </div>
                    <div class="tabs active" id="tab02" onclick="showCurrentDetails()">
                        <h6 class="font-weight-bold">SELL</h6>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="modal-body p-0">
                <input type="hidden" th:value="${loggedUserBalance}" id="user-transaction-balance"/>
                <fieldset id="tab011">
                    <div class="bg-light">
                        <div id="output">
                            <p id="output-value" class="text-center mb-4 mt-0 pt-4">$</p>
                        </div>
                        <div id="balance-after-transaction">
                            <p id="balance-after-transaction-value" class="text-center mb-4 mt-0 pt-4">$</p>
                        </div>
                        <div class="">
                            <div class="justify-content-center">
                                <div class="form-group row justify-content-center ">
                                    <div class="col-7">
                                        <select name="account" class="form-control" id="coin-price">
                                            <option selected disabled>Select Currency</option>
                                            <option th:each="coin : ${cryptoCoinDetails}" th:value="${coin.price}"
                                                    th:text="${coin.name}" id="nameTag" onclick="showCurrentDetails()">

                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col" id="theForm">
                                        <input placeholder="0" type="text" id="buyForm" onclick="showCurrentDetails()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="modal-footer d-flex flex-column justify-content-center border-0">

                        <button onclick="getConfirmation()" tabindex="0"
                                class="btn btn-outline-primary py-2 px-4">SUBMIT
                            TRANSACTION
                        </button>
                    </div>
                </fieldset>
                <fieldset class="show" id="tab021">
                    <div class="bg-light">
                        <div id="output-sell">
                            <p id="output-value-sell" class="text-center mb-4 mt-0 pt-4">$</p>
                        </div>
                        <div class="">
                            <div class="justify-content-center">
                                <div class="form-group row justify-content-center ">
                                    <div class="col-7">
                                        <select name="account" class="form-control"
                                                id="coin-amount-sell">
                                            <option selected disabled>Select Currency</option>
                                            <option th:each="coin : ${loggedUserCoins}"
                                                    th:value="${coin.amount}"
                                                    th:text="${coin.coinName}" id="nameTag-sell"
                                                    onclick="showCurrentDetailsSell()">
                                                <input type="hidden" th:field="{coin.amount}" id="testTag"/>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col" id="theForm-sell">
                                        <input placeholder="0" type="text" id="buyForm-sell" onclick="showCurrentDetailsSell()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="modal-footer d-flex flex-column justify-content-center border-0">

                        <button onclick="sellTradeWithValidation()" tabindex="0"
                                class="btn btn-outline-primary py-2 px-4">SUBMIT
                            TRANSACTION
                        </button>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="tradeResultModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Transaction summary:</p>
                <span id="tradeResultTRX"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reloadPage()">Close
                </button>
            </div>
        </div>
    </div>
</div>

<script src="app.js"></script>
<script src="tradeAjax.js"></script>
</body>
</html>
