<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page User View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--    GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user'}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/accountDetails'}">Account details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal" style="cursor: pointer">Trade</a>
            </li>
        </ul>
        <ul class="navbar-nav text-right">
            <li class="nav-item active ">
                <a class="nav-link" th:text="'Hello ' + ${user.getFirstName()}+'!'">Welcome:
                    [getFirstName]</a>
            </li>
            <li class="nav-item ">
                <a th:href="@{'/logout'}" class="nav-link">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped text-center">
                <h1 class="text-center">CryptoCurrencies By Market Capitalization</h1>
                <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Market Cap</th>
                    <th scope="col">Volume (24h)</th>
                    <th scope="col">Circulating Supply</th>
                </tr>
                </thead>
                <tbody id="quotationRow">

                <tr th:each="rate, iterator : ${cryptoCoinDetails}" class="active">
                    <td th:text="${iterator.count}">"</td>
                    <td>
                        <img alt="coin graphic"
                             th:src="@{${rate.logoUrl}}"

                             class="rounded-circle" width="32px" height="32px"/>
                    </td>
                    <td th:text="${rate.name}"></td>
                    <td class="blue">$<span th:text="${rate.price}<1 ? ${#numbers.formatDecimal(rate.price, 1, 'COMMA', 6, 'POINT')}
                                                        : ${#numbers.formatDecimal(rate.price, 1, 'COMMA', 2, 'POINT')}">10.00</span></td>
                    <td>$<span th:text="${#numbers.formatDecimal(rate.marketCap, 0, 'COMMA', 2, 'POINT')}">10.00</span>
                    </td>
                    <td class="blue">$<span th:text="${#numbers.formatDecimal(rate._1d.volume, 0, 'COMMA', 2, 'POINT')}">10.00</span>
                    </td>
                    <td><span
                            th:text="${#numbers.formatDecimal(rate.circulatingSupply, 0, 'COMMA', 2, 'POINT')} + ' ' + ${rate.symbol}">10.00</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     class="modal fade text-left">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="row">
                    <div class="tabs" id="tab01" onclick="showCurrentDetails()">
                        <h6 class="text-muted">BUY</h6>
                    </div>
                    <div class="tabs active" id="tab02" onclick="showCurrentDetails()">
                        <h6 class="font-weight-bold">SELL</h6>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="modal-body p-0">
                <input type="hidden" th:value="${loggedUserBalance}" id="user-transaction-balance"/>
                <!--    BUY    BUY    BUY    BUY    BUY    BUY    BUY    BUY    BUY    BUY     -->
                <fieldset id="tab011">
                    <div class="bg-light">
                        <div id="output">
                            <p id="output-value" class="text-center mb-4 mt-0 pt-4">$</p>
                        </div>
                        <div id="balance-after-transaction">
                            <p id="balance-after-transaction-value" class=" text-center mb-4 mt-0 pt-4">$</p>
                        </div>
                        <div class="">
                            <div class="justify-content-center">
                                <div class="form-group row justify-content-center ">
                                    <div class="col-7">
                                        <select name="account" class="form-control" id="coin-price">
                                            <option selected disabled>Select Currency</option>
                                            <option th:each="coin : ${cryptoCoinDetails}" th:value="${coin.price}"
                                                    th:text="${coin.name}" id="nameTag" onclick="showCurrentDetails()">

                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col" id="theForm">
                                        <input class="input" placeholder="0" type="text" id="buy-form-user-input"
                                               onclick="showCurrentDetails()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="modal-footer d-flex flex-column justify-content-center border-0">

                        <button onclick="getConfirmationFormBuy()" tabindex="0"
                                class="btn btn-outline-primary py-2 px-4">SUBMIT
                            TRANSACTION
                        </button>
                    </div>
                </fieldset>
                <!--    SELL    SELL    SELL    SELL    SELL    SELL    SELL    SELL    SELL    SELL    SELL-->
                <fieldset class="show" id="tab021">
                    <div class="bg-light">
                        <div id="output-sell">
                            <p id="output-value-sell" class="text-center mb-4 mt-0 pt-4">$</p>
                        </div>
                        <div>
                            <p id="coin-price-api" class="text-center mb-4 mt-0 pt-4">$</p>
                            <p id="balance-before-transaction" class="text-center mb-4 mt-0 pt-4">$</p>
                            <p id="balance-after-transaction-sell-form" class="text-center mb-4 mt-0 pt-4">$</p>
                            <p id="show-actual-balance" class="text-center mb-4 mt-0 pt-4"></p>
                        </div>
                        <div class="">
                            <div class="justify-content-center">
                                <div class="form-group row justify-content-center ">
                                    <div class="col-7">
                                        <select name="account" class="form-control"
                                                id="user-coin-to-sell">
                                            <option selected disabled>Select Currency</option>
                                            <option th:each="coin : ${loggedUserCoins}"
                                                    th:text="${coin.coinName}"
                                                    onclick="showCurrentDetailsSell()">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col" id="theForm-sell">
                                        <input class="input" placeholder="0" type="text" id="sell-form-user-input"
                                               onclick="showCurrentDetailsSell()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="modal-footer d-flex flex-column justify-content-center border-0">

                        <button onclick="getConfirmationFormSell()" tabindex="0"
                                class="btn btn-outline-primary py-2 px-4">SUBMIT
                            TRANSACTION
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let apiCoinsList = /*[[${cryptoCoinDetails}]]*/;
    let userCoinList = /*[[${loggedUserCoins}]]*/;
    /*]]>*/
</script>
<script src="app.js"></script>
<script src="tradeAjax.js"></script>

</body>
</html>
