<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<!--    NAVIGATION BAR (HEADER)     -->

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">
        Registration and Login Module
    </a>
</nav>
<!--    CREATE HTML REGISTRATION FORM   -->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">

            <h1> Registration</h1>
            <form th:action="@{/registration}" method="post" th:object="${user}">

                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered to our awesome app</div>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="firstName">
                        First Name
                    </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="surname">
                        Surname
                    </label>
                    <input id="surname" class="form-control" th:field="*{lastName}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="email">
                        Email
                    </label>
                    <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required
                           autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <button type="submit" class=" btn btn-success">Register</button>
                    <span>Already registered?<a href="/" th:href="@{/login}">Login here</a>
                    </span>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>