<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<!--    NAVIGATION BAR (HEADER)-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user'}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/accountDetails'}">Account details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal" style="cursor: pointer">Trade</a>
            </li>
        </ul>
        <ul class="navbar-nav text-right">
            <li class="nav-item ">
                <a th:href="@{'/logout'}" class="nav-link">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row justify-content-md-center color-swatch">
        <div class="col">

            <form th:action="@{/update}" method="post" th:object="${user}">

                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully updated your awesome details</div>
                </div>


                <div th:if="${error} != null" class="alert alert-danger">
                    <span th:text="${error}"></span><br>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="firstName">
                        First Name
                    </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                           autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="lastName">
                        Last Name
                    </label>
                    <input id="lastName" class="form-control" th:field="*{lastName}">
                </div>

                <div class="form-group">
                    <label class="col-form-label" for="email">
                        Email
                    </label>
                    <input id="email" class="form-control" th:field="*{email}">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="repeatPassword">
                        Password Confirmation
                    </label>
                    <input id="repeatPassword" class="form-control" type="password" th:field="*{repeatPassword}"
                    />
                </div>


                <div class="form-group ">
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="form-control  btn btn-primary" name="update-submit"
                                   id="update-submit"
                                   value="Update"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>