<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<!--    NAVIGATION BAR (HEADER)     -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/accountDetails'}">Account details</a>
            </li>
        </ul>
        <form class="form-inline">
            <a th:href="@{'/logout'}" class="btn btn-outline-light my-2 my-sm-0">Log out</a>
        </form>
    </div>
</nav>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">
        Update Your Details
    </a>
</nav>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">

            <form th:action="@{/update}" method="post" th:object="${user}">

                <label for="firstName">First name:</label><br>
                <input type="text" input id="firstName" class="form-control" th:field="*{firstName}"><br>

                <label for="surname">Last name:</label><br>
                <input type="text" id="surname" class="form-control" th:field="*{lastName}"><br><br>

                <label for="email">Email:</label><br>
                <input type="text" id="email" class="form-control" th:field="*{email}"><br><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" class="form-control" th:field="*{password}"><br><br>

                <div class="form-group ">
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="form-control  btn btn-primary" name="update-submit"
                                   id="update-submit"
                                   value="Update"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>